# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.blx*
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.dvi
*.ps
*.auxlock
build/
